{% extends "base.html" %}
{% block content %}

<div class="card auth-card">
    <h2>Create Account</h2>

    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Role</label>
        <select name="role" required>
            <option value="owner">Owner</option>
            <option value="delegate">Delegate</option>
        </select>

        <button class="btn primary">Register</button>
    </form>
</div>

{% endblock %}
